{% load static %}
<html>
    <head>
        <title>Harry Baker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" target="_blank" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_new' %}" target="_blank" class="top-menu-txt">Add Post</p>
            {% endif %}
            <h1><a href="/">Harry Baker</a></h1>
        </div>

        <ul>
            <li><a class="active" href="{% url 'post_list' %}"><span>Posts</span></a></li>
            <li><a href="{% url 'cv' %}"><span>CV</span></a></li>
            <li><a href="{% url 'contact' %}"><span>Contact</span></a></li>
        </ul>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>